@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0b0b;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-garamod), serif;
}

@layer utilities {
  .text-vibes {
    font-family: var(--font-vibes), cursive;
  }

  .text-alex {
    font-family: var(--font-alex), cursive;
  }

  .text-garamod {
    font-family: var(--font-garamod), serif;
  }
}